<h2>hello world</h2>

<form [formGroup]="formArray">
  <div class="form-array" formArrayName="array">
    <ng-container *ngFor="let c of getFormArray.controls; let idx = index">
      <div [formGroupName]="idx" class="group">
        <div class="form-control">
          <input
            type="text"
            formControlName="fullname"
            placeholder="fullname"
          />
        </div>
        <div class="form-control">
          <input type="text" formControlName="gender" placeholder="gender" />
        </div>
        <div class="form-control">
          <input
            type="text"
            formControlName="birthDay"
            placeholder="birthDay"
          />
        </div>
        <div class="form-control">
          <input type="text" formControlName="id" placeholder="id" />
        </div>
      </div>
    </ng-container>
  </div>
</form>

{{ formArray.getRawValue() | json }}
